<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">

  <title>Playdate</title>
  
</head>

<body>
<h1>Welcome to PlayDate!</h1>
Please login to access your classroom
	<%= yield %>

</body>
</html>